/*
 * @Author: 焦质晔
 * @Date: 2019-11-28 17:13:50
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2019-11-29 00:05:18
 */
.header {
  height: @headHeight;
  line-height: normal;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  &-trigger {
    line-height: @headHeight;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: @primaryColor;
      background-color: @backgroundColorSecondary;
    }
  }
}
