/*
 * @Author: 焦质晔
 * @Date: 2019-11-28 17:13:50
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2019-11-28 17:22:44
 */
.header {
  height: 60px;
  line-height: 60px;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  &-trigger {
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: #1890ff;
      background-color: rgba(0, 0, 0, 0.025);
    }
  }
}
