/*
 * @Author: 焦质晔
 * @Date: 2019-11-23 23:18:03
 * @Last Modified by:   焦质晔
 * @Last Modified time: 2019-11-23 23:18:03
 */
.spin {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
