/*
 * @Author: 焦质晔
 * @Date: 2019-11-23 23:18:03
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2019-12-01 14:06:10
 */
.spin {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
}
