/*
 * @Author: 焦质晔
 * @Date: 2020-01-14 19:41:30
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-01-27 13:07:15
 */
.table {
  &-top {
    margin-bottom: @moduleMargin;
    &-wrap {
      display: flex;
      height: 32px;
      align-items: center;
    }
    &-info {
      padding: 3px 0 3px 30px;
      :global .ant-alert-icon {
        top: 7px;
        left: 10px;
      }
      &-link {
        padding: 0 10px;
      }
    }
    &-sort {
    }
  }
}
.draggable-tree {
  :global .ant-tree-list {
    padding-left: 10px;
    .ant-tree-switcher {
      display: none;
    }
  }
}
